body{
    background-image: url("../imagens/background2.jpg"); background-size: cover;
 }

 .corpo{
     position: relative;
     width: 1000px;
     left: 100%;
     margin-left: -500px;
     margin-top: 150px;
 }
 
 .conteudo{
     display: table;
 }
 .imagem{
     display: table-cell;
     
 }
 .texto{
     display: table-cell;
     float: left;
     width: 300px;
 }
 
 h1, h2, h3 {
     font-family:Verdana; text-align: center;
 }
 
 h1 {
     color: #008B8B; text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
 }

 form {
    text-align: center;
 }
 
 span {
     font-weight: bold;
 }
